<!-- typography -->
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
    <h1>This is a heading for h1</h1>
    <h2>This is a heading for h2</h2>
    <h3>This is a heading for h3</h3>
    <h4>This is a heading for h4</h4>
</div>

<br>

<!-- button -->

<button mat-button>Click me!</button>
<button mat-raised-button>Click me!</button>
<button mat-flat-button>Click me!</button>
<button mat-stroked-button>Click me!</button>

<br>

<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Icon</button>
    <button mat-mini-fab>Icon</button>
</div>

<br>

<div>
    <button color="primary" mat-button>Icon</button>
    <button color="accent" mat-button>Icon</button>
    <button color="warn" mat-button>Icon</button>
    <button color="warn" disableRipple mat-button>Icon</button>
    <button color="primary" mat-raised-button>Icon</button>
    <button color="accent" mat-raised-button>Icon</button>
    <button color="warn" mat-raised-button>Icon</button>
</div>

<br>

<div>
    <mat-button-toggle #toggleBtn checked disabled>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
</div>

<div>
    <mat-button-toggle-group #toogleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toogleGroup.value}}
</div>

<br>

<div>
    <mat-icon color="primary">grade</mat-icon>
</div>

<br>

<!-- badge -->

<div>
    <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0">Notifications</span>
</div>
<div>
    <span matBadge="5">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

<br>

<div>
    <span matBadge="5" matBadgeSize="small">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="medium">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="large">Notifications</span>
</div>

<br>

<div>
    <span matBadge="5" matBadgeColor="primary">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="accent">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>

<br>

<!-- spinner -->

<div>
    <mat-progress-spinner value="100"></mat-progress-spinner>
    <mat-spinner *ngIf="showSpinner" color="primary"></mat-spinner>
    <button mat-raised-button (click)="loadData()">Load Data</button>
</div>

<!-- toolbar -->

<mat-toolbar color="primary">
    <span>Material Angular</span>
</mat-toolbar>

<mat-toolbar color="primary" class="navbar">
    <div>Material Angular</div>
    <div>
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">Sidenav
    </mat-sidenav>
    <mat-sidenav-content>Main
        <button mat-raised-button (click)="opened=!opened">Toogle Opened</button>
        <button mat-raised-button (click)="sidenav.open()">Open</button>
        <button mat-raised-button (click)="sidenav.close()">Close</button>
        <button mat-raised-button (click)="sidenav.toggle()">Toogle</button>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Menu -->

<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FronEnd</button>
    <button mat-menu-item>BackEnd</button>
</mat-menu>

<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>Setting</button>
        <button mat-menu-item>Hobby is {{hobby}}</button>
        <button mat-menu-item>Name is {{name}}</button>
    </ng-template>
</mat-menu>

<button mat-raised-button [matMenuTriggerData]="{name: 'Vishwas', hobby: 'football'}"
    [matMenuTriggerFor]="lazyMenu">Vishwas</button>
<button mat-raised-button [matMenuTriggerData]="{name: 'Codevolution', hobby: 'teaching'}"
    [matMenuTriggerFor]="lazyMenu">Codevolution</button>

<!-- List -->

<mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
</mat-nav-list>

<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <p matLine>Line 2</p>
    </mat-list-item>
</mat-list>

<!-- GridList -->

<mat-grid-list cols="2" rowHeight="fit" style="height: 200px" gutterSize="10px">
    <mat-grid-tile>Title 1</mat-grid-tile>
    <mat-grid-tile>Title 2</mat-grid-tile>
    <mat-grid-tile>Title 3</mat-grid-tile>
    <mat-grid-tile>Title 4</mat-grid-tile>
</mat-grid-list>

<!-- Expansion -->

<mat-accordion multi="true" hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Total Duration: 3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Material
            </mat-panel-title>
            <mat-panel-description>
                Total Duration: 2 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<!-- <router-outlet></router-outlet> -->